portray
psycopg2-binary
dbt-core
requests
pandas
pandas-gbq
fsspec
gcsfs
google-api-python-client
google-cloud-storage
google-cloud-bigquery
google-cloud-pubsub
SQLAlchemy
diagrams
gspread
gspread-pandas
oauth2client
ruamel.yaml
pytest-mock
cookiecutter
PyGithub
GitPython
typer[all]